# Node dependencies
node_modules/

# Build output
build/
dist/
out/
.cache/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*   # for things like .env.local, .env.production

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific folders
.vscode/
.idea/

# Docusaurus-specific cache and build
.docusaurus/
